<!DOCTYPE html>
<html lang="ru">
{% extends 'base.html' %}

{% block title %}Главная — Рубиновая Груша{% endblock %}

{% block content %}
<div class="banner">
    <h2>Красота, вдохновлённая природой</h2>
</div>

<section class="intro">
    <h3>Добро пожаловать!</h3>
    <p>
         «Рубиновая Груша» — это уникальный косметический магазин, где каждая женщина найдёт то, что подчеркнёт её естественную красоту.
        Мы предлагаем косметику, созданную с любовью к природе и заботой о коже. Откройте для себя мир качественной натуральной косметики!
    </p>
</section>
{% endblock %}
</html>
