{% extends 'base.html' %}
{% load static %}
{% block title %}<htyls>{% endblock %}
{% block content %}
<section class="catalog-wrapper">
    <div class="catalog-sidebar">
        <h3>Навигация</h3>
        <ul>
            <li><a href="{% url 'products_list' %}">Товары</a></li>
            <li><a href="{% url 'brand_list' %}">Бренды</a></li>
            <li><a href="{% url 'category_list' %}">Категории</a></li>
        </ul>
    </div>
    <div class="catalog">
        <h2>Цвета</h2>

        <div style="margin-bottom: 20px;">
            <a href="{% url 'colour_create' %}">
                <button class="create-button">Создать</button>
            </a>
        </div>

        <div class="product-grid">
            {% for colour in colour %}
                <div class="product-card">

                    <h3>{{ colour.name }}</h3>
                    <p><a href="{% url 'colour_update' colour.pk %}">Редактировать</a></p>
                    <p><a href="{% url 'colour_delete' colour.pk %}">Удалить</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
